html, body {
    padding: 0;
    margin: 0;
    /*For browsers that do not support gradients*/
    background: white;
    /*For Safari 5.1 to 6.0*/
    background: -webkit-linear-gradient(left,hotpink,fuchsia,dodgerblue,aquamarine,lime,yellow,orange,lightcoral);
    /*For Opera 11.1 to 12.0*/
    background: -o-linear-gradient(left,hotpink,fuchsia,dodgerblue,aquamarine,lime,yellow,orange,lightcoral);
    /*For Fx 3.6 to 15*/
    background: -moz-linear-gradient(left,hotpink,fuchsia,dodgerblue,aquamarine,lime,yellow,orange,lightcoral);
    /*Standard syntax*/
    background: linear-gradient(to right,hotpink,fuchsia,dodgerblue,aquamarine,lime,yellow,orange,lightcoral);
}

.hide-me {
    visibility: hidden;
    opacity: 0;
    transform: scale(.75);
}

h1 {
    margin-top: 0;
    font-size: 60px;
    font-weight: normal;
    display: inline-block;
    color: deeppink;
}

th {
    cursor: pointer;
    padding: 16px;
    background-color: lightskyblue;
}

th, td {
    text-align: center;
    padding: 16px;
    color: black;
    font-weight:bold;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}

table {
    margin:20px;
    width:100%;
}

body {
    font-family: Helvetica, sans-serif;
    padding: 50px 10%;
}

.alpacaRefreshButton{
    background:url(titlePicture2.png) no-repeat;
    cursor:pointer;
    border:none;
    width:100%;
    height:300px;
    border:none;
    padding:0;
    outline:none;
}

button {
    position: center;
}

p {
    padding: 4px 0 2px 8px;
    line-height: 1.7;
    border-bottom: 1px dotted #DDD;
    list-style: none;
    margin: 0;
}